.wrapper{

}

.container__books{
}

.ul__books{
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 50%;
}
.container__book{
    background-color: rgba(237, 209, 158, 0.8);
    padding: 10px 15px;
    margin: 10px;
    border-radius: 7px;
}
.book{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #000;
    display: flex;
    align-items: center;
}
.book__title{
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 5px 0;
    padding: 0;
}
.book__description{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
}
.book__body{
    margin: 10px;
}
.book__img{
    width: 125px;
    object-fit: cover;
    object-position: center center;
}
.books__button {
    width: 200px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.container__button{
    margin: auto;
    text-align: center;
    padding-bottom: 10px;
}


.wrapper__input{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__input {
    position: relative;
    display: inline-flex;
    margin: auto;
    width: 50%;
    
}
.input {
    width: 100%;
    padding: 10px 15px;
    padding-right: 0;
    border: 3px solid;
    border-radius: 3px;
    font-size: 17px;
    outline: none;
    margin: 10px;
    background-color: rgb(255, 244, 225);
}

.clear {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 35px;
    height: 30px;
    padding: 5px;
    object-fit: contain;
    object-position: center center;
    transform: .5s;
    opacity: .6;
    cursor: pointer;
}
.clear__disabled {
    opacity: .3;
}

@media screen and (max-width: 1400px) {
    .ul__books {
        width: 60%;
    }
    .container__input {
        width: 60%;
    }

}
@media screen and (max-width: 1200px) {
    .ul__books {
        width: 80%;
    }
    .container__input {
        width: 80%;
    }
}
@media screen and (max-width: 750px) {
    .ul__books {
        width: 100%;
    }
    .container__input {
        width: 100%;
    }
}